@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UILayout.cshtml";
}

<div style="position: relative; width: 100%; height: calc(85vh - 70px);">
    <img src="~/images/ppp.jpg" alt="Ana Sayfa Fotoğrafı" style="width: 100%; height: 100%; object-fit: cover;"   />
</div>

